/* defini cores temas dark */
:root,
:root[data-theme="dark"] {

    --bg-header: #222;
    --icone-tema:#eeeeee;

    --bg-header: #222;
    --icone-tema: #eeeeee;

}

/* defini cores temas light */
:root[data-theme="light"] {

    --bg-header: #fff;
    --icone-tema: #121212;

}



/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-header); /* cor fundo */
    color: #d2d2d2;  /* cor texto */
}

h1 {
    font-size: 50px;
}

i {
    color: rgb(154, 221, 221);
    font-size: 20px; /* tamanho do texto */
}

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background:var(--bg-header);
    padding: 8px 16px;
    z-index: 2;
}

.menu { 
    display: flex;
    align-items: center;
    background: var(--bg-header); /* cor fundo */
    gap: 25px;
    list-style: none;
}

.menu-mobile {
    width: 100;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px; 
}

.menu-item {
    width: 100%;
}

.menu-link { 
    display: flex;
    text-decoration: none;
}

.menu-texto {
    font-size: 20px;
    text-transform: uppercase;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 7px 15px;

}

.menu-link.active .menu-icone,
.menu-link.active .menu-texto,
.menu-link:hover .menu-icone,
.menu-link:hover .menu-texto{
    color: #f3f3f3;
    font-weight: 800;
}

/* não selecionados */
.menu-icone,
.menu-texto{ 
    color: #797979;
    font-weight: 400;
}

/* .menu-link .menu-texto:hover,
.menu-link .menu-icone:hover {
    font-size: 22px;
} */

.menu-icone {
    font-size: 25px;
}

.menu-principal {
    gap: 20px;
}

.header-nav {
    display: none;
}
#toggleTheme {
    font-size: 24px;
    color: var(--icone-tema);
    cursor: pointer;
    transition: ease-in-out .4s;
}

#home {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 25px;

}

#home {
    padding: 32px 16px;
}




/* CSS Responsivo */
@media (min-width: 768px) {  /* a partir de: 768px */
    #header {
        position: fixed;
        border-bottom: 1px solid #f3f3f3;
        padding: 16px 80px;
        background: var(--bg-header);
    }
    .nav-mobile {
        display: none;
    }
    .header-nav {
        display: flex;
    }
    #home {
        padding: 128px 96px 64px 96px; /* VOLTA AQUI */

    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

/* 1200px */
@media (min-width: 1200px) {
    #home {
        padding: 160px 96px 32px;
    }
}
@media (min-width: 1400px) 




{

}